<!DOCTYPE html>
<html ng-app="BAMApp">
<head>

    <!-- angular js -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>

    <!-- ui-bootstrap -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- application js -->
    <script src="../js/App.js"></script>
    <script src="../js/Controllers/BAMController.js"></script>
    <script src="../js/Services/DataService.js"></script>
    <script src="../js/Services/LocalStorageService.js"></script>
    <script src="../js/Controllers/BAMController.js"></script>
    <script src="../js/Controllers/CreditsController.js"></script>
    <script src="../js/Controllers/ApplicationDetailsController.js"></script>
    <script src="../js/Controllers/SiteContextController.js"></script>
    <script src="../js/Controllers/VegetationController.js"></script>
    <style type="text/css">
        .popover {
            max-width: 100%;
        }
    </style>
</head>
<body ng-controller="BAMController">
<div class="container" style="padding-bottom: 80px;">
    <div class="page-header">
        <h1>Biodiversity Assessment Methodology Demonstration Tool</h1>
        <br/>
        <h4>This is the introduction text to the Biodiversity Assessment Methodology Demonstration Tool</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Running Totals</h2>
            <div class="well">This section will be implemented in sprint 3. It will contain the running totals for the credits etc.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Assessment</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset>
                <uib-tab active="true">
                    <uib-tab-heading>Application Details</uib-tab-heading>
                    <ng-include src="'Templates/ApplicationDetails.html'"></ng-include>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>Site Context</uib-tab-heading>
                    <ng-include src="'Templates/SiteContext.html'"></ng-include>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>Vegetation</uib-tab-heading>
                    <ng-include src="'Templates/Vegetation.html'"></ng-include>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>Credits</uib-tab-heading>
                    <ng-include src="'Templates/Credits.html'"></ng-include>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
</body>
</html>