
<!DOCTYPE html>
<html ng-app="BAMApp">
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link href="http://d36paqt25bx4vd.cloudfront.net/Css/_Libs/oeh-font.css?" rel="stylesheet">
		<link href="http://d36paqt25bx4vd.cloudfront.net/Css/_Libs/oeh-libs.css?" rel="stylesheet">
		<link href="http://d36paqt25bx4vd.cloudfront.net/Css/_sitecore/sitecore-oeh-blessed1.min.css?" rel="stylesheet">
		<link href="http://d36paqt25bx4vd.cloudfront.net/Css/_sitecore/sitecore-oeh.min.css?" rel="stylesheet">
		<link href="http://d36paqt25bx4vd.cloudfront.net/Css/_sitecore/sitecore-oeh-print.css?" media="print" rel="stylesheet">
		<script type="text/javascript" src="http://d36paqt25bx4vd.cloudfront.net/js/libs/modernizr.2.8.3.js?"></script>

		<script type="text/javascript" src="http://wd-edge.sharethis.com/button/checkOAuth.esi"></script>
		<link rel="stylesheet" type="text/css" href="http://w.sharethis.com/button/css/buttons.ab966a004186897711de4a5ed256c924.css">

		<script src="../js/AngularJS-1.4.9/angular.min.js"></script>
		<script src="../js/AngularJS-1.4.9/angular-route.min.js"></script>
		<script src="../js/AngularJS-1.4.9/angular-animate.min.js"></script>
		<script src="../js/Controllers/BAMController.js"></script>	
		<script src="../js/App.js"></script>


	</head>
	<body ng-controller="BAMController">
		<div class="container-fluid" style="padding: 20px">
			<div class="row">
				<div class="panel panel-primary" id="banner">
		            <div class="panel-heading">
		                <div class="glyphicon glyphicon-dashboard"></div> BAM Calculation Demo Tool 
		            </div>
		            <div class="panel-body">
						<div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-info-sign"></span> TBA</div>

					</div>
				</div>
				<div class="panel panel-primary" id="details">

					<div class="panel-heading"> <span class="glyphicon glyphicon-th-list"></span></span> Calculation</div>

		            </div>
		            <div class="panel-body">

			                <ul class="nav nav-tabs">
		                        <li class="active">
		                            <a href="#ApplicationDetails" data-toggle="tab" aria-expanded="true">Application Details</a>
		                        </li>
		                        <li class="">
		                            <a href="#SiteContext" data-toggle="tab" aria-expanded="false">Site Context</a>
		                        </li>
		                        <li class="">
		                            <a href="#Vegetation" data-toggle="tab" aria-expanded="true">Vegetation</a>
		                        </li>
		                        <li class="">
		                            <a href="#Credits" data-toggle="tab" aria-expanded="false">Credits</a>
		                        </li>
			                </ul>

	            		<div ng-view></div>
					</div>
					

				</div>
			</div>
		</div>
	</body>
</html>