<!--<div ng-controller="ApplicationDetailsController" class="tabcontentdiv">-->
    <!--<fieldset class="form-group">-->
        <!--<label for="AssessmentType">Assessment type</label>-->
        <!--<select id="AssessmentType" class="form-control" ng-model="selected" ng-options="item as item.Type for item in items track by item.Type">-->
        <!--</select>-->
        <!--<br/>-->
        <!--<label for="ProposalID">Proposal ID</label>-->
        <!--<input id="ProposalID" class="form-control" ng-model="items[current].ProposalId">-->
        <!--<br/>-->
        <!--<label for="ProposalVersion">Proposal version</label>-->
        <!--<input id="ProposalVersion" class="form-control" ng-model="items[current].ProposalVersion">-->
        <!--<br/>-->
        <!--<label for="ProposalName">Proposal name</label>-->
        <!--<input id="ProposalName" class="form-control" ng-model="items[current].ProposalName">-->
        <!--<br/>-->
        <!--<label for="MajorCatchmentArea">Major Catchment Area</label>-->
        <!--<input id="MajorCatchmentArea" class="form-control" ng-model="items[current].MajorCatchmentArea">-->
        <!--<br/>-->
        <!--<label for="StreetAddress">Street Address</label>-->
        <!--<input id="StreetAddress" class="form-control" ng-model="items[current].StreetAddress">-->
    <!--</fieldset>-->
<!--</div>-->

<div ng-controller="ApplicationDetailsController">

    <form>
        <fieldset class="form-group">
            <label for="AssessmentType">Assessment Type</label>
            <select id="AssessmentType" class="form-control" ng-model="Current" ng-options="Item as Item.name for Item in referenceData.applicationDetails.applicationType track by Item.name">

            </select>
            <label for="ProposalID">Proposal ID</label>
            <input id="ProposalID" class="form-control" ng-model="Items[Current].ProposalId" ></input>

            <label for="ProposalVersion">Proposal Version</label>
            <input id="ProposalVersion" class="form-control" ng-model="Items[Current].ProposalVersion" ></input>

            <label for="ProposalName">Proposal Name</label>
            <input id="ProposalName" class="form-control" ng-model="Items[Current].ProposalName" ></input>

            <label for="StreetAddress">Street Address</label>
            <input id="StreetAddress" class="form-control" ng-model="Items[Current].StreetAddress" ></input>

        </fieldset>
    </form>

</div>

