<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Tree</th>
        <th>Shrub</th>
        <th>Grass & <br/> Grass Like</th>
        <th>Forb</th>
        <th>Fern</th>
        <th>Other</th>
    </tr>
    <tr ng-repeat="item in cc.composition.getApplicableCalcResults()[cc.composition.model.inFocusVegetationZoneIndex].compositionTransects">
        <th>Rate of decline (% per annum)</th>
        <td>
            <select class="form-control" ng-model="item.tree" ng-blur="cc.composition.updateCalcsFor('Tree', item.tree)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.shrub" ng-blur="cc.composition.updateCalcsFor('Shrub', item.shrub)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.grassAndGrassLike" ng-blur="cc.composition.updateCalcsFor('GrassAndGrassLike', item.grassAndGrassLike)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.forb" ng-blur="cc.composition.updateCalcsFor('Forb', item.forb)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.fern" ng-blur="cc.composition.updateCalcsFor('Fern', item.fern)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.other" ng-blur="cc.composition.updateCalcsFor('Other', item.other)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Future value without offset</th>
        <td>{{cc.composition.getCurrentComposition().futureValueWithoutOffsetTree | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureValueWithoutOffsetShrub | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureValueWithoutOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureValueWithoutOffsetForb | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureValueWithoutOffsetFern | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureValueWithoutOffsetOther | r2d}}</td>
    </tr>
    <tr>
        <th>Future condition without offset</th>
        <td>{{cc.composition.getCurrentComposition().futureConditionWithoutOffsetTree | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureConditionWithoutOffsetShrub | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureConditionWithoutOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureConditionWithoutOffsetForb | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureConditionWithoutOffsetFern | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().futureConditionWithoutOffsetOther | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted condition without offset</th>
        <td>{{cc.composition.getCurrentComposition().adjustedConditionWithoutOffsetTree | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().adjustedConditionWithoutOffsetShrub | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().adjustedConditionWithoutOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().adjustedConditionWithoutOffsetForb | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().adjustedConditionWithoutOffsetFern | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().adjustedConditionWithoutOffsetOther | r2d}}</td>
    </tr>
</table>