<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Tree</th>
        <th>Shrub</th>
        <th>Grass & <br/> grass Like</th>
        <th>Forb</th>
        <th>Fern</th>
        <th>Other</th>
    </tr>
    <tr ng-repeat="item in cc.composition.getApplicableCalcResults()[cc.composition.model.inFocusVegetationZoneIndex].compositionTransects">
        <th>Transect {{$index + 1}}</th>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.tree" ng-blur="cc.composition.updateCalcsFor('Tree', item.tree)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.shrub" ng-blur="cc.composition.updateCalcsFor('Shrub', item.shrub)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.grassAndGrassLike" ng-blur="cc.composition.updateCalcsFor('GrassAndGrassLike', item.grassAndGrassLike)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.forb" ng-blur="cc.composition.updateCalcsFor('Forb', item.forb)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.fern" ng-blur="cc.composition.updateCalcsFor('Fern', item.fern)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.other" ng-blur="cc.composition.updateCalcsFor('Other', item.other)"/></td>
    </tr>
    <tr>
        <th>Benchmark</th>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].treeComposition | r2d}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].shrubComposition | r2d}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].grassAndGrassLikeComposition | r2d}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].forbComposition | r2d}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].fernComposition | r2d}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].otherComposition | r2d}}</td>
    </tr>
    <tr>
        <th>Observed mean (x&#772;)</th>
        <td>{{cc.composition.getCurrentComposition().observedMeanTree | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanShrub | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanGrassAndGrassLike | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanForb | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanFern | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanOther | r2d}}</td>
    </tr>
    <tr>
        <th>Unweighted composition score (UCS<sub>i</sub>)
        </td>
        <td>{{cc.composition.getCurrentComposition().unweightedTreeScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedShrubScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedGrassAndGrassLikeScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedForbScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedFernScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedOtherScore | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted composition score (WCS<sub>i</sub>)</th>
        <td>{{cc.composition.getCurrentComposition().weightedTreeScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedShrubScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedGrassAndGrassLikeScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedForbScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedFernScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedOtherScore | r2d}}</td>
    </tr>
    <tr>
        <th>Dynamic weighting (w<sub>i</sub>)</th>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingTreeScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingShrubScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingGrassAndGrassLikeScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingForbScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingFernScore | r2d}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingOtherScore | r2d}}</td>
    </tr>
</table>