<form novalidate>
    <div ng-controller="compositionController as cc">
        <div class="row">
            <div class="col-md-6">
                <h4>Zone Composition Data (Subtotal: {{cc.composition.getCurrentComposition().compositionSubtotal || "0"}})</h4>
            </div>
            <div class="col-md-6">
                <button ng-click="cc.composition.close()" class="btn btn-primary pull-right">Close</button>
                <button ng-show="cc.composition.model.calculatorMode == 'current'" ng-click="cc.composition.addCompositionTransect()" class="btn btn-secondary pull-right">Add Transect</button>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-md-12">
                <table class="table numericGrid">
                    <tr>
                        <th>Item</th>
                        <th>Tree</th>
                        <th>Shrub</th>
                        <th>Grass & <br/> Grass Like</th>
                        <th>Forb</th>
                        <th>Fern</th>
                        <th>Other</th>
                    </tr>
                    <tr ng-repeat="item in cc.composition.getApplicableCalcResults()[cc.composition.model.inFocusVegetationZoneIndex].compositionTransects">
                        <th ng-show="cc.composition.isDevelopmentMode()">Transect {{$index + 1}}</th>
                        <th ng-show="cc.composition.isOffsetMode()">Management Timeframe (years)</th>
                        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.tree" ng-blur="cc.composition.updateCalcsFor('Tree', item.tree)"/></td>
                        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.shrub" ng-blur="cc.composition.updateCalcsFor('Shrub', item.shrub)"/></td>
                        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.grassAndGrassLike" ng-blur="cc.composition.updateCalcsFor('GrassAndGrassLike', item.grassAndGrassLike)"/></td>
                        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.forb" ng-blur="cc.composition.updateCalcsFor('Forb', item.forb)"/></td>
                        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.fern" ng-blur="cc.composition.updateCalcsFor('Fern', item.fern)"/></td>
                        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.other" ng-blur="cc.composition.updateCalcsFor('Other', item.other)"/></td>
                    </tr>
                </table>
                <div ng-show="cc.composition.isDevelopmentMode()" ng-include="'Templates/compositionDevelopmentMode.html'"/>
                <div ng-show="cc.composition.isOffsetMode()" ng-include="'Templates/compositionOffsetMode.html'"/>
            </div>
        </div>
    </div>
</form>