<div class="row">
    <div class="col-md-12">
        <h4>Zone Composition Data</h4>
    </div>
</div>
<div class="row" style="padding-top: 10px">
    <div class="col-md-5">Easting</div>
    <div class="col-md-2"><input/></div>
</div>
<div class="row" style="padding-top: 10px">
    <div class="col-md-5">Northing</div>
    <div class="col-md-2"><input/></div>
</div>
<div class="row" style="padding-top: 10px">
    <div class="col-md-5">Zone</div>
    <div class="col-md-2"><input/></div>
</div>
<div class="row" style="padding-top: 10px">
    <div class="col-md-5">Required Transects</div>
    <div class="col-md-2"><input/></div>
</div>
<div class="row" style="padding-top: 30px">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Tree</th>
                <th>Shrub</th>
                <th>Grass and Grass Like</th>
                <th>Forb</th>
                <th>Fern</th>
                <th>Other</th>
            </tr>
            <tr>
                <td>Benchmark</td>
                <td>{{vc.composition.model.benchmarks['Coastal Valley Grassy Woodlands (Sydney Basin)']['Tree'].structureBenchmark}}</td>
                <td>{{vc.composition.model.benchmarks['Coastal Valley Grassy Woodlands (Sydney Basin)']['Shrub'].structureBenchmark}}</td>
                <td>{{vc.composition.model.benchmarks['Coastal Valley Grassy Woodlands (Sydney Basin)']['Grass and Grass Like'].structureBenchmark}}</td>
                <td>{{vc.composition.model.benchmarks['Coastal Valley Grassy Woodlands (Sydney Basin)']['Forb'].structureBenchmark}}</td>
                <td>{{vc.composition.model.benchmarks['Coastal Valley Grassy Woodlands (Sydney Basin)']['Fern'].structureBenchmark}}</td>
                <td>{{vc.composition.model.benchmarks['Coastal Valley Grassy Woodlands (Sydney Basin)']['Other'].structureBenchmark}}</td>
            </tr>
            <tr>
                <td>Observed Mean</td>

            </tr>
            <tr>
                <td>Unweight Score</td>

            </tr>
            <tr>
                <td>Weighting</td>

            </tr>
            <tr>
                <td>Score</td>
            </tr>
            <tr data-ng-repeat="item in vc.composition.model.compositionTransects">
                <td>Transect {{$index}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button ng-click="vc.composition.addCompositionTransect()" class="btn btn-secondary">Add Transect</button>
    </div>
</div>
