<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Tree</th>
        <th>Shrub</th>
        <th>Grass & <br/> Grass Like</th>
        <th>Forb</th>
        <th>Fern</th>
        <th>Other</th>
    </tr>
    <tr ng-repeat="item in cc.composition.getApplicableCalcResults()[cc.composition.model.inFocusVegetationZoneIndex].compositionTransects">
        <th>Transect {{$index + 1}}</th>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.tree" ng-blur="cc.composition.updateCalcsFor('Tree', item.tree)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.shrub" ng-blur="cc.composition.updateCalcsFor('Shrub', item.shrub)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.grassAndGrassLike" ng-blur="cc.composition.updateCalcsFor('GrassAndGrassLike', item.grassAndGrassLike)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.forb" ng-blur="cc.composition.updateCalcsFor('Forb', item.forb)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.fern" ng-blur="cc.composition.updateCalcsFor('Fern', item.fern)"/></td>
        <td><input class="numericInput form-control" min="0" size=3 type="number" ng-model="item.other" ng-blur="cc.composition.updateCalcsFor('Other', item.other)"/></td>
    </tr>
    <tr>
        <th>Benchmark</th>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].treeComposition || "0"}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].shrubComposition || "0"}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].grassAndGrassLikeComposition || "0"}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].forbComposition || "0"}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].fernComposition || "0"}}</td>
        <td>{{cc.composition.model.benchmarks[cc.composition.model.keithClass][cc.dataService.siteContextModel.inputs.ibra.name].otherComposition || "0"}}</td>
    </tr>
    <tr>
        <th>Observed Mean (x&#772;)</th>
        <td>{{cc.composition.getCurrentComposition().observedMeanTree || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanShrub || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanGrassAndGrassLike || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanForb || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanFern || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().observedMeanOther || "0"}}</td>
    </tr>
    <tr>
        <th>Unweighted Composition Score (UCS<sub>i</sub>)
        </td>
        <td>{{cc.composition.getCurrentComposition().unweightedTreeScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedShrubScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedGrassAndGrassLikeScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedForbScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedFernScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().unweightedOtherScore || "0"}}</td>
    </tr>
    <tr>
        <th>Weighted Composition Score (WCS<sub>i</sub>)</th>
        <td>{{cc.composition.getCurrentComposition().weightedTreeScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedShrubScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedGrassAndGrassLikeScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedForbScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedFernScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().weightedOtherScore || "0"}}</td>
    </tr>
    <tr>
        <th>Dynamic Weighting (w<sub>i</sub>)</th>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingTreeScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingShrubScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingGrassAndGrassLikeScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingForbScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingFernScore || "0"}}</td>
        <td>{{cc.composition.getCurrentComposition().dynamicWeightingOtherScore || "0"}}</td>
    </tr>
</table>