<form novalidate>
    <div ng-controller="functionController as fc">
        <div class="row">
            <div class="col-md-6">
                <h4>Zone Function Data (Subtotal: {{fc.function.getCurrentFunction().functionSubtotal || "0"}})</h4>
            </div>
            <div class="col-md-6">
                <button ng-click="fc.function.close()" class="btn btn-primary pull-right">Close</button>
                <button ng-show="fc.function.model.calculatorMode == 'current'" ng-click="fc.function.addFunctionTransect()" class="btn btn-secondary pull-right">Add Transect</button>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-md-12">
                <table class="table numericGrid">
                    <tr>
                        <th>Item</th>
                        <th>Number of large trees</th>
                        <th>Litter cover</th>
                        <th>Coarse woody derbis</th>
                        <th>Stem size classes present <br/> excluding <5cm and >50cm</th>
                        <th>Regeneration stems <br/> stems <5cm DBH</th>
                    </tr>
                </table>
                <div ng-show="fc.function.isDevelopmentMode()" ng-include="'Templates/functionDevelopmentMode.html'"/>
                <div ng-show="fc.function.isOffsetMode()" ng-include="'Templates/functionOffsetMode.html'"/>
            </div>
        </div>
    </div>
</form>