<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Number of large trees</th>
        <th>Litter cover</th>
        <th>Coarse woody debris</th>
        <th>Stem size class</th>
        <th>Regeneration stems <br/> stems <5cm DBH</th>
    </tr>
    <tr ng-repeat="itemd in fc.function.getApplicableCalcResults()[fc.function.model.inFocusVegetationZoneIndex].functionTransects">
        <th>Transect {{$index + 1}}</th>
        <td><input ng-disabled="fc.function.model.calculatorMode == 'future'" class="numericInput form-control" size=3 type="number" min="0" ng-model="itemd.numberOfLargeTrees" ng-blur="fc.function.updateCalcsFor('NumberOfLargeTrees', itemd.numberOfLargeTrees)"/></td>
        <td><input ng-disabled="fc.function.model.calculatorMode == 'future'" class="numericInput form-control" size=3 type="number" min="0" ng-model="itemd.litterCover" ng-blur="fc.function.updateCalcsFor('LitterCover', itemd.litterCover)"/></td>
        <td><input ng-disabled="fc.function.model.calculatorMode == 'future'"class="numericInput form-control" size=3 type="number" min="0" ng-model="itemd.coarseWoodyDebris" ng-blur="fc.function.updateCalcsFor('CoarseWoodyDebris', itemd.coarseWoodyDebris)"/></td>
        <td>
            <select ng-disabled="fc.function.model.calculatorMode == 'future'" class="form-control" ng-model="itemd.stemSizeClasses" ng-blur="fc.function.updateCalcsFor('StemSizeClasses', itemd.stemSizeClasses)">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
        <td>
            <select ng-disabled="fc.function.model.calculatorMode == 'future'" class="form-control" ng-model="itemd.regenerationPresent" ng-blur="fc.function.updateCalcsFor('RegenerationPresent', itemd.regenerationPresent)">
                <option value="0">Absent</option>
                <option value="1">Present</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Benchmark</th>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].numberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].litterCover | r2d}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].coarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].stemSizeClasses | r2d}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].regeneration}}</td>
    </tr>
    <tr>
        <th>Observed mean (x&#772;)</th>
        <td>{{fc.function.getCurrentFunction().observedMeanNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().observedMeanLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().observedMeanCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().observedMeanStemSizeClasses | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().observedMeanRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Unweighted function score (UFS<sub>i</sub>)</td>
        <td>{{fc.function.getCurrentFunction().unweightedNumberOfLargeTreesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().unweightedLitterCoverScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().unweightedCoarseWoodyDebrisScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().unweightedStemSizeClassesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().unweightedRegenerationPresentScore | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted function score (WFS<sub>i</sub>)</th>
        <td>{{fc.function.getCurrentFunction().weightedNumberOfLargeTreesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedLitterCoverScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedCoarseWoodyDebrisScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedStemSizeClassesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedRegenerationPresentScore | r2d}}</td>
    </tr>
    <tr>
        <th>Dynamic weighting (w<sub>i</sub>)</th>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingNumberOfLargeTreesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingLitterCoverScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingCoarseWoodyDebrisScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingStemSizeClassesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingRegenerationPresentScore | r2d}}</td>
    </tr>
    <tr>
        <th>Dynamic weighting gain</th>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingGainNumberOfLargeTreesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingGainLitterCoverScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingGainCoarseWoodyDebrisScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingGainStemSizeClassesScore | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().dynamicWeightingGainRegenerationPresentScore | r2d}}</td>
    </tr>
</table>