<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Number of large trees</th>
        <th>Litter cover</th>
        <th>Coarse woody debris</th>
        <th>Regeneration stems <br/> stems <5cm DBH</th>
        <th>Stem diversity</th>
    </tr>
    <tr ng-repeat="item in fc.function.getApplicableCalcResults()[fc.function.model.inFocusVegetationZoneIndex].functionTransects">
        <th>Management time frame (years)</th>
        <td>
            <select class="form-control" ng-model="item.numberOfLargeTrees" ng-blur="fc.function.updateCalcsFor('NumberOfLargeTrees', item.numberOfLargeTrees)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.litterCover" ng-blur="fc.function.updateCalcsFor('LitterCover', item.litterCover)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.coarseWoodyDebris" ng-blur="fc.function.updateCalcsFor('CoarseWoodyDebris', item.coarseWoodyDebris)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.regenerationPresent1" ng-blur="fc.function.updateCalcsFor('RegenerationPresent', item.regenerationPresent1)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.StemSizeClasses" ng-blur="fc.function.updateCalcsFor('StemSizeClasses', item.StemSizeClasses)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Future value without offset</th>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetRegenerationPresent | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetStemSizeClasses | r2d}}</td>
    </tr>
    <tr>
        <th>Future condition without offset</th>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetRegenerationPresent | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetStemSizeClasses | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted condition without offset</th>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetRegenerationPresent | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetStemSizeClasses | r2d}}</td>
    </tr>
</table>