<form novalidate>
    <div ng-controller="functionController as fc">
        <div class="row">
            <div class="col-md-6">
                <h4>Zone Function Data (Subtotal: {{fc.function.getCurrentFunction().functionSubtotal || "0"}})</h4>
            </div>
            <div class="col-md-6">
                <button ng-click="fc.function.close()" class="btn btn-primary pull-right">Close</button>
                <button ng-show="fc.function.model.currentOrFuture == 'current'" ng-click="fc.function.addFunctionTransect()" class="btn btn-secondary pull-right">Add Transect</button>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-md-12">
                <table class="table numericGrid">
                    <tr>
                        <th>Item</th>
                        <th>Number of large trees</th>
                        <th>Litter cover</th>
                        <th>Coarse woody derbis</th>
                        <th>Stem size classes present <br/> excluding <5cm and >50cm</th>
                        <th>Regeneration stems <br/> stems <5cm DBH</th>
                    </tr>
                    <tr ng-repeat="item in fc.function.getApplicableCalcResults()[fc.function.model.inFocusVegetationZoneIndex].functionTransects">
                        <td>Transect {{$index + 1}}</td>
                        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.numberOfLargeTrees" ng-blur="fc.function.updateCalcsFor('NumberOfLargeTrees', item.numberOfLargeTrees)"/></td>
                        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.litterCover" ng-blur="fc.function.updateCalcsFor('LitterCover', item.litterCover)"/></td>
                        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.coarseWoodyDebris" ng-blur="fc.function.updateCalcsFor('CoarseWoodyDebris', item.coarseWoodyDebris)"/></td>
                        <td>
                            <select class="form-control" ng-model="item.stemSizeClasses" ng-blur="fc.function.updateCalcsFor('StemSizeClasses', item.stemSizeClasses)">
                                <option value="1">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" ng-model="item.regenerationPresent" ng-blur="fc.function.updateCalcsFor('RegenerationPresent', item.regenerationPresent)">
                                <option value="0">Absent</option>
                                <option value="1">Present</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Benchmark</td>
                        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.ibra.name].numberOfLargeTrees || "0"}}</td>
                        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.ibra.name].litterCover || "0"}}</td>
                        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.ibra.name].coarseWoodyDebris || "0"}}</td>
                        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.ibra.name].stemSizeClasses || "0"}}</td>
                        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.ibra.name].regeneration}}</td>
                    </tr>
                    <tr>
                        <td>Observed Mean (x&#772;)</td>
                        <td>{{fc.function.getCurrentFunction().observedMeanNumberOfLargeTrees || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().observedMeanLitterCover || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().observedMeanCoarseWoodyDebris || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().observedMeanStemSizeClasses || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().observedMeanRegenerationPresent || "0"}}</td>
                    </tr>
                    <tr>
                        <td>Unweighted Function Score (UFS<sub>i</sub>)</td>
                        <td>{{fc.function.getCurrentFunction().unweightedNumberOfLargeTreesScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().unweightedLitterCoverScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().unweightedCoarseWoodyDebrisScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().unweightedStemSizeClassesScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().unweightedRegenerationPresentScore || "0"}}</td>
                    </tr>
                    <tr>
                        <td>Weighted Function Score (WFS<sub>i</sub>)</td>
                        <td>{{fc.function.getCurrentFunction().weightedNumberOfLargeTreesScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().weightedLitterCoverScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().weightedCoarseWoodyDebrisScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().weightedStemSizeClassesScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().weightedRegenerationPresentScore || "0"}}</td>
                    </tr>
                    <tr>
                        <td>Dynamic Weighting (w<sub>i</sub>)</td>
                        <td>{{fc.function.getCurrentFunction().dynamicWeightingNumberOfLargeTreesScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().dynamicWeightingLitterCoverScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().dynamicWeightingCoarseWoodyDebrisScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().dynamicWeightingStemSizeClassesScore || "0"}}</td>
                        <td>{{fc.function.getCurrentFunction().dynamicWeightingRegenerationPresentScore || "0"}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>