<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Number of large trees</th>
        <th>Litter cover</th>
        <th>Coarse woody derbis</th>
        <th>Regeneration stems <br/> stems <5cm DBH</th>
    </tr>
    <tr ng-repeat="item in fc.function.getApplicableCalcResults()[fc.function.model.inFocusVegetationZoneIndex].functionTransects">
        <th>Management Timeframe (years)</th>
        <td>
            <select class="form-control" ng-model="item.numberOfLargeTrees" ng-blur="fc.function.updateCalcsFor('NumberOfLargeTrees', item.numberOfLargeTrees)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.litterCover" ng-blur="fc.function.updateCalcsFor('LitterCover', item.litterCover)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.coarseWoodyDebris" ng-blur="fc.function.updateCalcsFor('CoarseWoodyDebris', item.coarseWoodyDebris)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.regenerationPresent1" ng-blur="fc.function.updateCalcsFor('RegenerationPresent', item.regenerationPresent1)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Future Value Without Offset</th>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetNumberOfLargeTrees || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetLitterCover || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetCoarseWoodyDebris || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetRegenerationPresent || "0"}}</td>
    </tr>
    <tr>
        <th>Future Condition Without Offset</th>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetNumberOfLargeTrees || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetLitterCover || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetCoarseWoodyDebris || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetRegenerationPresent || "0"}}</td>
    </tr>
    <tr>
        <th>Adjusted Condition Without Offset</th>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetNumberOfLargeTrees || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetLitterCover || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetCoarseWoodyDebris || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetRegenerationPresent || "0"}}</td>
    </tr>
</table>