<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Number of large trees</th>
        <th>Litter cover</th>
        <th>Coarse woody debris</th>
        <th>Regeneration stems <br/> stems <5cm DBH</th>
    </tr>
    <tr>
        <th>Current Value With Added Constant</th>
        <td>{{fc.function.getCurrentFunction().currentValueWithAddedConstantNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().currentValueWithAddedConstantLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().currentValueWithAddedConstantCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().currentValueWithAddedConstantRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Future Value With Offset</th>
        <td>{{fc.function.getCurrentFunction().futureValueWithOffsetNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithOffsetLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithOffsetCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithOffsetRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Future Condition With Offset (unadjusted)</th>
        <td>{{fc.function.getCurrentFunction().futureConditionWithOffsetNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithOffsetLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithOffsetCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithOffsetRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Raw Averted Loss</th>
        <td>{{fc.function.getCurrentFunction().rawAvertedLossNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawAvertedLossLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawAvertedLossCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawAvertedLossRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Raw Restoration Gain</th>
        <td>{{fc.function.getCurrentFunction().rawRestorationGainNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawRestorationGainLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawRestorationGainCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawRestorationGainRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Raw Total Gain</th>
        <td>{{fc.function.getCurrentFunction().rawTotalGainNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawTotalGainLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawTotalGainCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().rawTotalGainRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted No Discount</th>
        <td>{{fc.function.getCurrentFunction().weightedNoDiscountNumberOfLargeTrees | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedNoDiscountLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedNoDiscountCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedNoDiscountRegenerationPresent | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted Condition With Offset</th>
        <td>{{fc.function.getCurrentFunction().weightedConditionWithOffsetNumberOfLargeTree | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedConditionWithOffsetLitterCover | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedConditionWithOffsetCoarseWoodyDebris | r2d}}</td>
        <td>{{fc.function.getCurrentFunction().weightedConditionWithOffsetRegenerationPresent | r2d}}</td>
    </tr>
</table>