<table class="table numericGrid">
    <tr ng-repeat="item in fc.function.getApplicableCalcResults()[fc.function.model.inFocusVegetationZoneIndex].functionTransects">
        <th>Management Timeframe (years)</th>
        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.numberOfLargeTrees" ng-blur="fc.function.updateCalcsFor('NumberOfLargeTrees', item.numberOfLargeTrees)"/></td>
        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.litterCover" ng-blur="fc.function.updateCalcsFor('LitterCover', item.litterCover)"/></td>
        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.coarseWoodyDebris" ng-blur="fc.function.updateCalcsFor('CoarseWoodyDebris', item.coarseWoodyDebris)"/></td>
        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.stemSizeClasses1" ng-blur="fc.function.updateCalcsFor('StemSizeClasses', item.stemSizeClasses1)"/></td>
        <td><input class="numericInput form-control" size=3 type="number" min="0" ng-model="item.regenerationPresent1" ng-blur="fc.function.updateCalcsFor('RegenerationPresent', item.regenerationPresent1)"/></td>
    </tr>
    <tr>
        <th>Rate Of Decline (% Annum)</th>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].rateOfDeclineNumberOfLargeTrees || "5.0"}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].rateOfDeclineLitterCover || "5.0"}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].rateOfDeclineCoarseWoodyDebris || "5.0"}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].rateOfDeclineStemSizeClasses || "5.0"}}</td>
        <td>{{fc.function.model.benchmarks[fc.function.model.keithClass][fc.dataService.siteContextModel.inputs.ibra.name].rateOfDeclineRegeneration || "5.0"}}</td>
    </tr>
    <tr>
        <th>Future Value Without Offset</th>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetNumberOfLargeTrees || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetLitterCover || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetCoarseWoodyDebris || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetStemSizeClasses || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureValueWithoutOffsetRegenerationPresent || "0"}}</td>
    </tr>
    <tr>
        <th>Future Condition Without Offset</th>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetNumberOfLargeTrees || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetLitterCover || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetCoarseWoodyDebris || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetStemSizeClasses || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().futureConditionWithoutOffsetRegenerationPresent || "0"}}</td>
    </tr>
    <tr>
        <th>Adjusted Condition Without Offset</th>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetNumberOfLargeTrees || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetLitterCover || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetCoarseWoodyDebris || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetStemSizeClasses || "0"}}</td>
        <td>{{fc.function.getCurrentFunction().adjustedConditionWithoutOffsetRegenerationPresent || "0"}}</td>
    </tr>
</table>