<div ng-controller="habitatController as hc" class="tabcontentdiv">
    <form>
        <fieldset class="form-group table-responsive">
            <h4>Predicted threatened species (Ecosystem credits)</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Species</th>
                    <th>Habitat components</th>
                    <th>Habitat presence</th>
                    <th>Sensitivity class</th>
                    <th>Threat status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in hc.habitat.model.inputs[hc.habitat.model.current].ecosystemCredit">
                    <td><b><em>{{x.threatendedSpecies.scientificName}}</em></b><br/>{{x.threatendedSpecies.name}}</td>
                    <td>{{x.threatendedSpecies.habitatComponents}}</td>
                    <td>
                        <select ng-model="hc.habitat.model.inputs[hc.habitat.model.current].ecosystemCredit[$index].presence" class="form-control" ng-options="item as item.name for item in hc.habitat.model.referenceData.optionClass" ng-init="hc.habitat.model.inputs[hc.habitat.model.current].ecosystemCredit[$index].presence = hc.habitat.model.referenceData.optionClass[0]">
                        </select>
                    </td>
                    <td>
                        <!--select ng-if="hc.habitat.model.inputs[hc.habitat.model.current].ecosystemCredit[$index].presence.name=='Yes'" class="form-control" ng-model="hc.habitat.model.inputs[hc.habitat.model.current].ecoSystemCredit[$index].sensitivity" ng-options="item as item.name for item in hc.habitat.model.referenceData.sensitivityClass">
                        </select-->
                        <input ng-disabled="true" type="text" class="form-control" ng-model="hc.habitat.model.inputs[hc.habitat.model.current].ecoSystemCredit[$index].sensitivity" ng-value="x.threatendedSpecies.sensitivity"/>
                    </td>
                    <td>{{x.threatendedSpecies.threatStatus}}</td>
                <tr>
                </tbody>
            </table>
        </fieldset>
    </form>
    <form>
        <fieldset class="form-group table-responsive">
            <h4>Candidate threatened species (Species credits)</h4>
            <table class="table packedTable" ng-if="true">
                <thead>
                <tr>
                    <th>Species</th>
                    <th>Veg Zone</th>
                    <th>Geographic limitations</th>
                    <th>Habitat components</th>
                    <th>Sensitivity class</th>
                    <th>Threat status</th>
                    <th>Candidate</th>
                    <th>Assess required</th>
                    <th>Presence</th>
                    <th>UOM</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit">
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)"><b><em>{{x.threatendedSpecies.scientificName}}</em></b><br/>{{x.threatendedSpecies.name}}</td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">{{x.vegZone}}</td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">{{x.threatendedSpecies.geographicCondition}}</td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">{{x.threatendedSpecies.habitatComponents}}</td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">{{x.threatendedSpecies.sensitivity}}</td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">{{x.threatendedSpecies.threatStatus}}</td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">
                        <select ng-model="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].candidate"
                                ng-options="item as item.name for item in hc.habitat.model.referenceData.optionClass" class="form-control"
                                ng-change="hc.habitat.updatePresence($index)"/>
                    </td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">
                        <select ng-if="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].candidate.name=='Yes'"
                                ng-model="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].assessRequired"
                                ng-options="item as item.name for item in hc.habitat.model.referenceData.optionClass"
                                ng-change="hc.habitat.updatePresence($index)"
                                class="form-control"/>
                    </td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">
                        <select ng-if="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].assessRequired.name=='Yes'
                                && hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].candidate.name=='Yes'"
                                ng-model="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].presence"
                                ng-options="item as item.name for item in hc.habitat.model.referenceData.optionClass"
                                ng-change="hc.habitat.updatePresence($index)"
                                class="form-control"/>
                        </select>
                    </td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">
                        <div ng-if="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].presence.name=='Yes'
                                && hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].assessRequired.name=='Yes'
                                && hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].candidate.name=='Yes'">
                            {{x.threatendedSpecies.unitOfMeasure}}
                        </div>
                    </td>
                    <td ng-if="hc.habitat.streamlineSensitivityCheck(x.threatendedSpecies)">
                        <input style="width:auto"  ng-if="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].presence.name=='Yes'
                                && hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].assessRequired.name=='Yes'
                                && hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].candidate.name=='Yes'"
                               ng-model="hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit[$index].value" type="number" class="form-control"
                               ng-blur="hc.habitat.emitHabitatUpdateEvent()">
                        </input>
                    </td>
                <tr>
                </tbody>
            </table>
            <h4 ng-if="hc.dataService.applicationDetailsModel.assessmentType.id != 1">Assessment of biodiversity concern</h4>
            <table class="table packedTable" ng-if="hc.dataService.applicationDetailsModel.assessmentType.id != 1">
                <thead>
                <tr>
                    <th>Species</th>
                    <th>Threat status</th>
                    <th>Biodiv. concern</th>
                    <th>Offset multiplier</th>
                    <th>SOII threshold</th>
                    <th>SOII select</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="x in hc.habitat.model.inputs[hc.habitat.model.current].speciesCredit">
                    <td ng-if="x.enabledPrecense" style="width: 20%"><b><em>{{x.threatendedSpecies.scientificName}}</em></b><br/>{{x.threatendedSpecies.name}}</td>
                    <td ng-if="x.enabledPrecense">{{x.threatendedSpecies.threatStatus}}</td>
                    <td ng-if="x.enabledPrecense">{{hc.dataService.habitatModel.referenceData.biodiversityConcern[x.threatendedSpecies.threatStatus][x.threatendedSpecies.sensitivity]}}</td>
                    <td ng-if="x.enabledPrecense">{{x.threatendedSpecies.offsetMultiplier}}</td>
                    <td ng-if="x.enabledPrecense">{{x.threatendedSpecies.soiThreashold}}</td>
                    <td ng-if="x.enabledPrecense">{{x.threatendedSpecies.soii}}</td>
                <tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
