<div ng-controller="habitatController" class="tabcontentdiv">

  <h4>Predicted Threatened Species</h4>
  <table class="table">
      <thead>
        <tr>
            <th>Common Name</th>
            <th>Scientific Name</th>
            <th>Habitat Components</th>
            <th>Habitat Presence</th>
            <th>Sensitivity Class</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in model.referenceData.ecosystemCredit.ibraSubRegion[0].threatendedSpecies">
            <td>{{x.name}}</td>
            <td>{{x.scientificName}}</td>
            <td>{{x.habitatComponents}}</td>
            <td>{{x.percentCover}}</td>
            <td>{{x.sensitivity}}</td>
        <tr>
      </tbody>
  </table>

  <h4>Candidate Threatened Species</h4>
  <table class="table">
      <thead>
      <tr>
          <th>Common Name</th>
          <th>Scientific Name</th>
          <th>Habitat Components</th>
          <th>Assess Required</th>
          <th>Presence</th>
          <th>UOM</th>
          <th>Value</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in model.referenceData.speciesCredit.ibraSubRegion[0].threatendedSpecies">
            <td>{{x.name}}</td>
            <td>{{x.scientificName}}</td>
            <td>{{x.habitatComponents}}</td>
            <td></td>
            <td>{{x.percentCover}}</td>
            <td>{{x.unitOfMeasure}}</td>
            <td></td>
        <tr>
      </tbody>
  </table>

  <h4>Assessment of Biodiversity Concern</h4>
  <table class="table">
      <thead>
      <tr>
          <th>Common Name</th>
          <th>Scientific Name</th>
          <th>Threat Status</th>
          <th>Sensitivity</th>
          <th>Biodiv. Concern</th>
          <th>Offset Multiplier</th>
          <th>SOI Threshold</th>
          <th>SOI Select</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in model.referenceData.speciesCredit.ibraSubRegion[0].threatendedSpecies">
            <td>{{x.name}}</td>
            <td>{{x.scientificName}}</td>
            <td>{{x.threatStatus}}</td>

            <td>{{x.sensitivity}}</td>
            <td></td>
            <td>{{x.offsetMultiplier}}</td>
            <td>{{x.soiThreashold}}</td>
            <td></td>
        <tr>
      </tbody>
  </table>

</div>
