<form novalidate>
    <div ng-controller="offsetController as oc" class="tabcontentdiv">
        <h1 class="printOnly pageBreak">Vegetation Integrity</h1>
        <div class="callout">
            <h3>Information!</h3>
            <p>For the purposes of demonstration, values for the following variables related to a vegetation zone have been fixed as follows:
            <ul>
                <li>High Threat Weed Cover = 10%</li>
                <li>High Risk Land = 'No'</li>
                <li>Average Stem Count = >0</li>
            </ul>
            </p>
        </div>
        <div class="table-responsive">
            <h4>Plant Community Types (PCT) &amp; ecological communities</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Formation</th>
                    <th>Keith Class</th>
                    <th>Plant Community Type</th>
                    <th>PCT Code</th>
                    <th>PCT % Cleared</th>
                    <th>Associated TEC</th>
                    <th>Threat status class</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pctItem in oc.offset.model.input.pct">
                    <td>
                        <select ng-show="pctItem.formation == null" class="form-control" ng-model="pctItem.formation" ng-options="ref.name for ref in oc.offset.getAvailableFormationsForWhichBenchmarkDataIsAvailable()" title="{{pctItem.formation.name}}"></select>
                        <p ng-show="pctItem.formation != null">{{pctItem.formation.name}}</p>
                    </td>
                    <td>
                        <select ng-show="pctItem.keithClass == null" class="form-control" ng-model="pctItem.keithClass" ng-options="ref.name for ref in oc.offset.getKeithClassesForWhichBenchmarkDataIsAvailable(pctItem.formation)" title="{{pctItem.keithClass.name}}"></select>
                        <p ng-show="pctItem.keithClass != null">{{pctItem.keithClass.name}}</p>
                    </td>
                    <td>
                        <select ng-show="pctItem.pct == null" class="form-control" ng-model="pctItem.pct" ng-options="ref.name for ref in pctItem.keithClass.pct | orderBy: 'name'" title="{{pctItem.pct.name}}"></select>
                        <p ng-show="pctItem.pct != null">{{pctItem.pct.name}}</p>
                    </td>
                    <td>{{pctItem.pct.id}}</td>
                    <td>{{pctItem.pct.percentCleared.pct_cleared}}</td>
                    <td>
                        <select ng-show="pctItem.tec == null" class="form-control" ng-model="pctItem.tec" ng-options="ref.name for ref in pctItem.pct.tec"></select>
                        <p ng-show="pctItem.tec != null">{{pctItem.tec.name}}</p>
                    </td>
                    <td>{{pctItem.tec.status}}</td>
                    <td><a ng-click="oc.offset.removePctObject($index)" style="cursor: pointer;">Remove</a></td>
                </tr>
                </tbody>
            </table>
            <button ng-click="oc.offset.addPctObject()" class="btn btn-secondary">Add PCT</button>
        </div>
        <div class="table-responsive">
            <h4>Vegetation zones (Assess current vegetation integrity score)</h4>
            <table class="table doalign">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>PCT code</th>
                    <th>Condition class</th>
                    <th>Identifier</th>
                    <th>Area</th>
                    <th>Composition condition score</th>
                    <th>Structure condition score</th>
                    <th>Function condition score</th>
                    <th>Current vegetation integrity score</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="vegetationZoneItem in oc.offset.model.input.vegetationZones">
                    <td>{{$index + 1}}</td>
                    <td>
                        <select class="form-control" title="PCT codes are listed only if benchmark data is available for the current IBRA and Keith Class" ng-model="vegetationZoneItem.pctCode" ng-options="item.pct.id for item in oc.offset.model.input.pct" ng-change="oc.offset.populateKeithClassForZone(vegetationZoneItem)"></select>
                    </td>
                    <td>
                        <p ng-show="vegetationZoneItem.conditionClass != null">{{vegetationZoneItem.conditionClass}}</p>
                        <select ng-show="vegetationZoneItem.conditionClass == null" class="form-control" ng-model="vegetationZoneItem.conditionClass" ng-change="oc.offset.addToZoneMap(vegetationZoneItem)">
                            <option value="Good" ng-show="oc.offset.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_Good') == -1">Good</option>
                            <option value="Low" ng-show="oc.offset.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_Low') == -1">Low</option>
                            <option value="Derived" ng-show="oc.offset.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_Derived') == -1">Derived native grass land</option>
                            <option value="Degraded" ng-show="oc.offset.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_Degraded') == -1">Degraded</option>
                            <option value="Moderate" ng-show="oc.offset.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_Moderate') == -1">Moderate</option>
                            <option value="High" ng-show="oc.offset.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_High') == -1">High</option>
                        </select>
                    </td>
                    <td>{{vegetationZoneItem.identifier()}}</td>
                    <td>
                        <input type="number" size="4" class="form-control" ng-model="vegetationZoneItem.area"/>
                    </td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'current', vegetationZoneItem.keithClass, 'composition')" uib-popover-template="'Templates/composition.html'" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('current', $index, 'composition')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-secondary">{{oc.dataService.compositionModel.compositionCalcResults[$index].compositionSubtotal | r0d}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'current', vegetationZoneItem.keithClass, 'structure')" uib-popover-template="'Templates/structure.html'" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('current', $index, 'structure')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-secondary">{{oc.dataService.structureModel.structureCalcResults[$index].structureSubtotal | r0d}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'current', vegetationZoneItem.keithClass, 'function')" uib-popover-template="'Templates/function.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('current', $index, 'function')" type="button" class="btn btn-secondary">{{oc.dataService.functionModel.functionCalcResults[$index].functionSubtotal | r0d}}</button>
                    </td>
                    <td>
                        {{vegetationZoneItem.currentVis | r0d}}
                    </td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <h4>Vegetation zones (future without management)</h4>
            <table class="table doalign">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>PCT code</th>
                    <th>Condition class</th>
                    <th>Veg zone name</th>
                    <th>Area</th>
                    <th>Composition condition score</th>
                    <th>Structure condition score</th>
                    <th>Function condition score</th>
                    <th>Current Vegetation Integrity (VIS) Score</th>
                    <th>Change in vegetation integrity score</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="vegetationZoneItem in oc.offset.model.input.vegetationZones">
                    <td>{{$index + 1}}</td>
                    <td>{{vegetationZoneItem.pctCode.pct.id}}</td>
                    <td>{{vegetationZoneItem.conditionClass}}</td>
                    <td>{{vegetationZoneItem.identifier()}}</td>
                    <td>{{vegetationZoneItem.area}}</td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'offsetFutureWithoutManagement', vegetationZoneItem.keithClass, 'composition')" uib-popover-template="'Templates/composition.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('offsetFutureWithoutManagement', $index, 'composition')" type="button" class="btn btn-secondary">{{oc.dataService.compositionModel.offsetFutureWithoutManagementCompositionCalcResults[$index].compositionSubtotal
                            | r0d}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'offsetFutureWithoutManagement', vegetationZoneItem.keithClass, 'structure')" uib-popover-template="'Templates/structure.html'" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('offsetFutureWithoutManagement', $index, 'structure')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-secondary">{{oc.dataService.structureModel.offsetFutureWithoutManagementStructureCalcResults[$index].structureSubtotal | r0d}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'offsetFutureWithoutManagement', vegetationZoneItem.keithClass, 'function')" uib-popover-template="'Templates/function.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('offsetFutureWithoutManagement', $index, 'function')" type="button"
                                class="btn btn-secondary">{{oc.dataService.functionModel.offsetFutureWithoutManagementFunctionCalcResults[$index].functionSubtotal | r0d}}</button>
                    </td>
                    <td>
                        {{vegetationZoneItem.offsetFutureWithoutManagementVis | r0d}}
                    </td>
                    <td>
                        {{vegetationZoneItem.currentAndFutureWithoutDeltaVis | r0d}}
                    </td>
                </tr>
                </tbody>
            </table>
            <h4>Vegetation zones (future with management)</h4>
            <table class="table doalign">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>PCT code</th>
                    <th>Condition class</th>
                    <th>Veg zone name</th>
                    <th>Area</th>
                    <th>Composition condition score</th>
                    <th>Structure condition score</th>
                    <th>Function condition score</th>
                    <th>Vegetation integrity score</th>
                    <th>Change in vegetation integrity score</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="vegetationZoneItem in oc.offset.model.input.vegetationZones">
                    <td>{{$index + 1}}</td>
                    <td>{{vegetationZoneItem.pctCode.pct.id}}</td>
                    <td>{{vegetationZoneItem.conditionClass}}</td>
                    <td>{{vegetationZoneItem.identifier()}}</td>
                    <td>{{vegetationZoneItem.area}}</td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'offsetFutureWithManagement', vegetationZoneItem.keithClass, 'composition')" uib-popover-template="'Templates/composition.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('offsetFutureWithManagement', $index, 'composition')" type="button"
                                class="btn btn-secondary">{{oc.dataService.compositionModel.offsetFutureWithManagementCompositionCalcResults[$index].compositionSubtotal
                            | r0d}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'offsetFutureWithManagement', vegetationZoneItem.keithClass, 'structure')" uib-popover-template="'Templates/structure.html'" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('offsetFutureWithManagement', $index, 'structure')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-secondary">{{oc.dataService.structureModel.offsetFutureWithManagementStructureCalcResults[$index].structureSubtotal | r0d}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="oc.offset.setCalcToDisplay($index, 'offsetFutureWithManagement', vegetationZoneItem.keithClass, 'function')" uib-popover-template="'Templates/function.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="oc.offset.shouldThisPopupBeOpened('offsetFutureWithManagement', $index, 'function')" type="button"
                                class="btn btn-secondary">{{oc.dataService.functionModel.offsetFutureWithManagementFunctionCalcResults[$index].functionSubtotal | r0d}}</button>
                    </td>
                    <td>
                        {{vegetationZoneItem.offsetFutureWithManagementVis | r0d}}
                    </td>
                    <td>
                        {{vegetationZoneItem.futureWithAndWithoutDeltaVis | r0d}}
                    </td>
                </tr>
                </tbody>
            </table>
            <button ng-disabled="!oc.offset.canAddMoreVegetationZones()" ng-click="oc.offset.addVegetationZone()" class="btn btn-secondary">Add Vegetation Zone</button>
        </div>
    </div>
</form>