<table ng-show="sc.structure.displayFutureWithoutManagement()" class="table numericGrid">
    <tr>
        <th>Future Value Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Future Condition Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Adjusted Condition Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetOther || "0"}}</td>
    </tr>
</table>
<table ng-show="sc.structure.displayFutureWithManagement()" class="table numericGrid">
    <tr>
        <th>Current Value With Added Constant</th>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantOther || "0"}}</td>
    </tr>
    <tr>
        <th>Future Value With Offset</th>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Future Condition With Offset (unadjusted)</th>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Raw Averted Loss</th>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossOther || "0"}}</td>
    </tr>
</table>