<table ng-show="sc.structure.displayFutureWithoutManagement()" class="table numericGrid">
    <tr ng-repeat="item in sc.structure.getApplicableCalcResults()[sc.structure.model.inFocusVegetationZoneIndex].structureTransects">
        <td>Rate Of Decline (% per annum)</td>
        <td>
            <select class="form-control" ng-model="item.tree" ng-blur="sc.structure.updateCalcsFor('Tree', item.tree)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.shrub" ng-blur="sc.structure.updateCalcsFor('Shrub', item.shrub)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.grassAndGrassLike" ng-blur="sc.structure.updateCalcsFor('GrassAndGrassLike', item.grassAndGrassLike)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.forb" ng-blur="sc.structure.updateCalcsFor('Forb', item.forb)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.fern" ng-blur="sc.structure.updateCalcsFor('Fern', item.fern)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.other" ng-blur="sc.structure.updateCalcsFor('Other', item.other)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Future Value Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Future Condition Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Adjusted Condition Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetOther || "0"}}</td>
    </tr>
</table>