<table ng-show="sc.structure.displayFutureWithoutManagement()" class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Tree</th>
        <th>Shrub</th>
        <th>Grass & <br/> Grass Like</th>
        <th>Forb</th>
        <th>Fern</th>
    </tr>
    <tr ng-repeat="item in sc.structure.getApplicableCalcResults()[sc.structure.model.inFocusVegetationZoneIndex].structureTransects">
        <td>Rate of decline (% per annum)</td>
        <td>
            <select class="form-control" ng-model="item.tree" ng-blur="sc.structure.updateCalcsFor('Tree', item.tree)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.shrub" ng-blur="sc.structure.updateCalcsFor('Shrub', item.shrub)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.grassAndGrassLike" ng-blur="sc.structure.updateCalcsFor('GrassAndGrassLike', item.grassAndGrassLike)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.forb" ng-blur="sc.structure.updateCalcsFor('Forb', item.forb)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
        <td>
            <select class="form-control" ng-model="item.fern" ng-blur="sc.structure.updateCalcsFor('Fern', item.fern)">
                <option value="0.00">0.00%</option>
                <option value="0.05">0.05%</option>
                <option value="0.10">0.10%</option>
                <option value="0.20">0.20%</option>
                <option value="0.25">0.25%</option>
                <option value="0.50">0.50%</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Future value without offset</th>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetFern | r2d}}</td>
    </tr>
    <tr>
        <th>Future condition without offset</th>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetFern | r2d}}</td>
    </tr>
    <tr>
        <th>Adjusted condition without offset</th>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetFern | r2d}}</td>
    </tr>
</table>