<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Tree</th>
        <th>Shrub</th>
        <th>Grass & <br/> Grass Like</th>
        <th>Forb</th>
        <th>Fern</th>
        <th>Other</th>
    </tr>
    <tr ng-if="sc.structure.isDevelopmentMode()" ng-repeat="item in sc.structure.getApplicableCalcResults()[sc.structure.model.inFocusVegetationZoneIndex].structureTransects">
        <td>Transect {{$index + 1}}</td>
        <td><input class="numericInput form-control" size=3 min="0" type="number" ng-model="item.tree" ng-blur="sc.structure.updateCalcsFor('Tree', item.tree)"/></td>
        <td><input class="numericInput form-control" size=3 min="0" type="number" ng-model="item.shrub" ng-blur="sc.structure.updateCalcsFor('Shrub', item.shrub)"/></td>
        <td><input class="numericInput form-control" size=3 min="0" type="number" ng-model="item.grassAndGrassLike" ng-blur="sc.structure.updateCalcsFor('GrassAndGrassLike', item.grassAndGrassLike)"/></td>
        <td><input class="numericInput form-control" size=3 min="0" type="number" ng-model="item.forb" ng-blur="sc.structure.updateCalcsFor('Forb', item.forb)"/></td>
        <td><input class="numericInput form-control" size=3 min="0" type="number" ng-model="item.fern" ng-blur="sc.structure.updateCalcsFor('Fern', item.fern)"/></td>
        <td><input class="numericInput form-control" size=3 min="0" type="number" ng-model="item.other" ng-blur="sc.structure.updateCalcsFor('Other', item.other)"/></td>
    </tr>
    <tr>
        <th>Benchmark</th>
        <td>{{sc.structure.model.benchmarks[sc.structure.model.keithClass][sc.dataService.siteContextModel.inputs.ibra.name].treeCover | r2d}}</td>
        <td>{{sc.structure.model.benchmarks[sc.structure.model.keithClass][sc.dataService.siteContextModel.inputs.ibra.name].shrubCover | r2d}}</td>
        <td>{{sc.structure.model.benchmarks[sc.structure.model.keithClass][sc.dataService.siteContextModel.inputs.ibra.name].grassAndGrassLikeCover | r2d}}</td>
        <td>{{sc.structure.model.benchmarks[sc.structure.model.keithClass][sc.dataService.siteContextModel.inputs.ibra.name].forbCover | r2d}}</td>
        <td>{{sc.structure.model.benchmarks[sc.structure.model.keithClass][sc.dataService.siteContextModel.inputs.ibra.name].fernCover | r2d}}</td>
        <td>{{sc.structure.model.benchmarks[sc.structure.model.keithClass][sc.dataService.siteContextModel.inputs.ibra.name].otherCover | r2d}}</td>
    </tr>
    <tr>
        <th>Observed Mean (x&#772;)</th>
        <td>{{sc.structure.getCurrentStructure().observedMeanTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().observedMeanShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().observedMeanGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().observedMeanForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().observedMeanFern | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().observedMeanOther | r2d}}</td>
    </tr>
    <tr>
        <th>Unweighted Structure Score (USS<sub>i</sub>)
        </td>
        <td>{{sc.structure.getCurrentStructure().unweightedTreeScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().unweightedShrubScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().unweightedGrassAndGrassLikeScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().unweightedForbScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().unweightedFernScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().unweightedOtherScore | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted Structure Score (WSS<sub>i</sub>)</th>
        <td>{{sc.structure.getCurrentStructure().weightedTreeScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedShrubScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedGrassAndGrassLikeScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedForbScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedFernScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedOtherScore | r2d}}</td>
    </tr>
    <tr>
        <th>Dynamic Weighting (w<sub>i</sub>)</th>
        <td>{{sc.structure.getCurrentStructure().dynamicWeightingTreeScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().dynamicWeightingShrubScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().dynamicWeightingGrassAndGrassLikeScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().dynamicWeightingForbScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().dynamicWeightingFernScore | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().dynamicWeightingOtherScore | r2d}}</td>
    </tr>
</table>