<table class="table numericGrid">
    <tr>
        <th>Future Value Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithoutOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Future Condition Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithoutOffsetOther || "0"}}</td>
    </tr>
    <tr>
        <th>Adjusted Condition Without Offset</th>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetTree || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetShrub || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetGrassAndGrassLike || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetForb || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetFern || "0"}}</td>
        <td>{{sc.structure.getCurrentStructure().adjustedConditionWithoutOffsetOther || "0"}}</td>
    </tr>
</table>