<table class="table numericGrid">
    <tr>
        <th>Item</th>
        <th>Tree</th>
        <th>Shrub</th>
        <th>Grass & <br/> grass like</th>
        <th>Forb</th>
        <th>Fern</th>
    </tr>
    <tr>
        <th>Current value with added constant</th>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().currentValueWithAddedConstantFern | r2d}}</td>
    </tr>
    <tr>
        <th>Future value with offset</th>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureValueWithOffsetFern | r2d}}</td>
    </tr>
    <tr>
        <th>Future condition with offset (unadjusted)</th>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().futureConditionWithOffsetFern | r2d}}</td>
    </tr>
    <tr>
        <th>Raw averted loss</th>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawAvertedLossFern | r2d}}</td>
    </tr>
    <tr>
        <th>Raw restoration gain</th>
        <td>{{sc.structure.getCurrentStructure().rawRestorationGainTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawRestorationGainShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawRestorationGainGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawRestorationGainForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawRestorationGainFern | r2d}}</td>
    </tr>
    <tr>
        <th>Raw total gain</th>
        <td>{{sc.structure.getCurrentStructure().rawTotalGainTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawTotalGainShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawTotalGainGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawTotalGainForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().rawTotalGainFern | r2d}}</td>
    </tr>
    <tr>
        <th>Weighted condition with offset</th>
        <td>{{sc.structure.getCurrentStructure().weightedConditionWithOffsetTree | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedConditionWithOffsetShrub | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedConditionWithOffsetGrassAndGrassLike | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedConditionWithOffsetForb | r2d}}</td>
        <td>{{sc.structure.getCurrentStructure().weightedConditionWithOffsetFern | r2d}}</td>
    </tr>
</table>
