<form novalidate>
    <div ng-controller="structureController as sc">
        <div class="row">
            <div class="col-md-6">
                <h4>Zone structure data (Structure condition score: {{sc.structure.getCurrentStructure().structureSubtotal | r2d}})</h4>
            </div>
            <div class="col-md-6">
                <button ng-click="sc.structure.close()" class="btn btn-primary pull-right">Close</button>
                <button ng-show="sc.structure.model.calculatorMode == 'current'" ng-click="sc.structure.addStructureTransect()" class="btn btn-secondary pull-right">Add Transect</button>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-md-12" ng-if="sc.structure.isDevelopmentMode()" ng-include="'Templates/structureDevelopmentMode.html'"/>
            <div class="col-md-12" ng-if="sc.structure.displayFutureWithoutManagement()" ng-include="'Templates/structureFutureWithoutManagement.html'"/>
            <div class="col-md-12" ng-if="sc.structure.displayFutureWithManagement()" ng-include="'Templates/structureFutureWithManagement.html'"/>
        </div>
    </div>
</form>
