<form novalidate>
    <div ng-controller="vegetationController as vc" class="tabcontentdiv">
        <div>
            <h4>Plant Community Types &amp; Ecological Communities</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Formation</th>
                    <th>Keith Class</th>
                    <th>Plant Community Type</th>
                    <th>PCT Code</th>
                    <th>PCT % Cleared</th>
                    <th>Associated TEC</th>
                    <th>Threat Status Class</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pctItem in vc.vegetationTab.model.input.pct">
                    <td>
                        <select ng-show="pctItem.formation == null" class="form-control" ng-model="pctItem.formation" ng-options="ref.name for ref in vc.vegetationTab.getAvailableFormationsForWhichBenchmarkDataIsAvailable()" title="{{pctItem.formation.name}}"></select>
                        <p ng-show="pctItem.formation != null">{{pctItem.formation.name}}</p>
                    </td>
                    <td>
                        <select ng-show="pctItem.keithClass == null" class="form-control" ng-model="pctItem.keithClass" ng-options="ref.name for ref in vc.vegetationTab.getKeithClassesForWhichBenchmarkDataIsAvailable(pctItem.formation)" title="{{pctItem.keithClass.name}}"></select>
                        <p ng-show="pctItem.keithClass != null">{{pctItem.keithClass.name}}</p>
                    </td>
                    <td>
                        <select ng-show="pctItem.pct == null" class="form-control" ng-model="pctItem.pct" ng-options="ref.name for ref in pctItem.keithClass.pct" title="{{pctItem.pct.name}}"></select>
                        <p ng-show="pctItem.pct != null">{{pctItem.pct.name}}</p>
                    </td>
                    <td>{{pctItem.pct.id}}</td>
                    <td>{{pctItem.pct.percentCleared}}</td>
                    <td>
                        <select ng-show="pctItem.tec == null" class="form-control" ng-model="pctItem.tec" ng-options="ref.name for ref in pctItem.pct.tec"></select>
                        <p ng-show="pctItem.tec != null">{{pctItem.tec.name}}</p>
                    </td>
                    <td>{{pctItem.tec.status}}</td>
                </tr>
                </tbody>
            </table>
            <button ng-click="vc.vegetationTab.addPctObject()" class="btn btn-secondary">Add PCT</button>
        </div>
        <div>
            <h4>Vegetation Zones (current)</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>PCT Code</th>
                    <th>Condition Class</th>
                    <th>Identifier</th>
                    <th>Area</th>
                    <th>Location</th>
                    <th>Composition</th>
                    <th>Structure</th>
                    <th>Function</th>
                    <th>VIS</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="vegetationZoneItem in vc.vegetationTab.model.input.vegetationZones">
                    <td>{{$index + 1}}</td>
                    <td>
                        <select class="form-control" title="PCT codes are listed only if benchmark data is available for the current IBRA and Keith Class" ng-model="vegetationZoneItem.pctCode" ng-options="item.pct.id for item in vc.vegetationTab.model.input.pct" ng-change="vc.vegetationTab.populateKeithClassForZone(vegetationZoneItem)"></select>
                    </td>
                    <td>
                        <p ng-show="vegetationZoneItem.conditionClass != null">{{vegetationZoneItem.conditionClass}}</p>
                        <select ng-show="vegetationZoneItem.conditionClass == null" class="form-control" ng-model="vegetationZoneItem.conditionClass" ng-change="vc.vegetationTab.addToZoneMap(vegetationZoneItem)">
                            <option value="Good" ng-show="vc.vegetationTab.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_Good') == -1">Good</option>
                            <option value="Low" ng-show="vc.vegetationTab.model.zoneMap.indexOf(vegetationZoneItem.pctCode.pct.id + '_Low') == -1">Low</option>
                        </select>
                    </td>
                    <td>{{vegetationZoneItem.identifier()}}</td>
                    <td>
                        <input type="number" size="4" class="form-control" ng-model="vegetationZoneItem.area"/>
                    </td>
                    <td>
                        <button ng-click="vc.vegetationTab.setCalcToDisplay($index, 'current', vegetationZoneItem.keithClass, 'location')" uib-popover-template="'Templates/location.html'" popover-trigger="none" popover-is-open="vc.vegetationTab.shouldThisPopupBeOpened('current', $index, 'location')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-primary"><i class="fa fa-map-marker"></i>
                        </button>
                    </td>
                    <td>
                        <button ng-click="vc.vegetationTab.setCalcToDisplay($index, 'current', vegetationZoneItem.keithClass, 'composition')" uib-popover-template="'Templates/composition.html'" popover-trigger="none" popover-is-open="vc.vegetationTab.shouldThisPopupBeOpened('current', $index, 'composition')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-primary">{{vc.dataService.compositionModel.compositionCalcResults[$index].compositionSubtotal || "0"}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="vc.vegetationTab.setCalcToDisplay($index, 'current', vegetationZoneItem.keithClass, 'structure')" uib-popover-template="'Templates/structure.html'" popover-trigger="none" popover-is-open="vc.vegetationTab.shouldThisPopupBeOpened('current', $index, 'structure')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-primary">{{vc.dataService.structureModel.structureCalcResults[$index].structureSubtotal || "0"}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="vc.vegetationTab.setCalcToDisplay($index, 'current', vegetationZoneItem.keithClass, 'function')" uib-popover-template="'Templates/function.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="vc.vegetationTab.shouldThisPopupBeOpened('current', $index, 'function')" type="button" class="btn btn-primary">{{vc.dataService.functionModel.functionCalcResults[$index].functionSubtotal || "0"}}</button>
                    </td>
                    <td>
                        {{vc.vegetationTab.calculateGeomean($index, 'current')}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h4>Vegetation Zones (future)</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>PCT Code</th>
                    <th>Condition Class</th>
                    <th>Identifier</th>
                    <th>Area</th>
                    <th>Composition</th>
                    <th>Structure</th>
                    <th>Function</th>
                    <th>VIS</th>
                    <th>&#916; VIS</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="vegetationZoneItem in vc.vegetationTab.model.input.vegetationZones">
                    <td>{{$index + 1}}</td>
                    <td>{{vegetationZoneItem.pctCode.pct.id}}</td>
                    <td>{{vegetationZoneItem.conditionClass}}</td>
                    <td>{{vegetationZoneItem.identifier()}}</td>
                    <td>{{vegetationZoneItem.area}}</td>
                    <td>
                        <button ng-click="vc.vegetationTab.setCalcToDisplay($index, 'future', vegetationZoneItem.keithClass, 'composition')" uib-popover-template="'Templates/composition.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="vc.vegetationTab.shouldThisPopupBeOpened('future', $index, 'composition')" type="button" class="btn btn-primary">{{vc.dataService.compositionModel.futureCompositionCalcResults[$index].compositionSubtotal
                            || "0"}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="vc.vegetationTab.setCalcToDisplay($index, 'future', vegetationZoneItem.keithClass, 'structure')" uib-popover-template="'Templates/structure.html'" popover-trigger="none" popover-is-open="vc.vegetationTab.shouldThisPopupBeOpened('future', $index, 'structure')" popover-animation="true" popover-placement="auto" type="button"
                                class="btn btn-primary">{{vc.dataService.structureModel.futureStructureCalcResults[$index].structureSubtotal || "0"}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="vc.vegetationTab.setCalcToDisplay($index, 'future', vegetationZoneItem.keithClass, 'function')" uib-popover-template="'Templates/function.html'" popover-animation="true" popover-placement="auto" popover-trigger="none" popover-is-open="vc.vegetationTab.shouldThisPopupBeOpened('future', $index, 'function')" type="button" class="btn btn-primary">{{vc.dataService.functionModel.futureFunctionCalcResults[$index].functionSubtotal || "0"}}</button>
                    </td>
                    <td>
                        {{vc.vegetationTab.calculateGeomean($index, 'future')}}
                    </td>
                    <td>
                        {{vc.vegetationTab.calculateGeomean($index, 'future') - vc.vegetationTab.calculateGeomean($index, 'current')}}
                    </td>
                </tr>
                </tbody>
            </table>
            <button ng-click="vc.vegetationTab.addVegetationZone()" class="btn btn-secondary">Add Vegetation Zone</button>
        </div>
    </div>
</form>